.logout{
    margin-left: auto;
}
.layoutHeader{
    padding: 0 16px;
    display: flex;
    background-color: white !important;
    border-radius: 10px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}