.logout{
    margin-left: auto;
}
.layoutHeader{
    padding: 0 16px;
    display: flex;
    background-color: white !important;
    border-radius: 10px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}
.headerTitle{
    display: flex;
    font-size: 18px;
    color: rgba(87, 87, 87, 1);
    font-weight: 600;
}