.root{
    min-width: 1280px;
}
.line1{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 355px;
    padding: 15px;
    min-width: 1240px;
}
.line2{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 600px;
    margin-top: 2.5vw;
    padding: 15px;
}
.title{
    font-size: 17px;
    display: flex;
    font-weight: 800;
}
.subtitle{
    color: rgba(73, 74, 78, 1);
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
}

.line1_container{
    display: flex;
    min-width: 1180px;
}
.line1_component1{
    width: 30%;
    border-radius: 8px;
    height: 240px;
    margin-top: 50px;
}
.line1_component2{
    width: 30%;
    margin-left: auto;
    margin-right: 30px;
    border: 1px solid rgba(193, 194, 249, 1);
    border-radius: 8px;
    height: 240px;
    margin-top: 50px;
    max-width: 400px;
    min-width: 250px;
    padding: 5px;
}
.line1_component3{
    width: 30%;
    border: 1px solid rgba(193, 194, 249, 1);
    border-radius: 8px;
    height: 240px;
    margin-top: 50px;
    max-width: 400px;
    min-width: 250px;
    padding: 5px;
}
.line{
    width: 100%;
    height: 80px;
}
.checkBox{
    display: flex;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
}
.check_line{
    display: flex;
}
.check_text{
    font-size: 14px;
    color: rgba(130, 130, 130, 1);
    width: max-content;
}

.vendorBox{
    height: 180px;
    overflow-y: auto;
    margin-top: 10px;
}
.vendorItem{
    display: flex;
    height: 40px;
    line-height: 40px;
}
.tableDiv{
    max-height: 400px;
    overflow-y: auto;
}
.pagination{
    display: block;
    margin-top: 50px;
    text-align: right;
}
.tableTitle{
    display: flex;
    margin-bottom: 30px;
}
.tableFunc{
    display: flex;
}


.text1{
    font-size: 18px;
    font-weight: 600;
    color: #494A4E;
    margin-left: 5px;
    margin-right: 30px;
    height: 45px;
    line-height: 45px;
}
.text2{
    font-size: 20px;
    font-weight: 800;
    color: #8285F4;
    height: 45px;
    line-height: 45px;
}


.calDiv{
    width: 40px;
    height: 40px;
    background-image: url('https://cdn.latestk.com/kinepsAdmin/cal_gray.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px 5px 0 5px;
}
.calDiv:hover{
    background-image: url('https://cdn.latestk.com/kinepsAdmin/cal_hover.svg');
    cursor: pointer;
}
.scrapDiv{
    width: 40px;
    height: 40px;
    background-image: url('https://cdn.latestk.com/kinepsAdmin/scrap_gray.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px 5px 0 5px;
}
.scrapDiv:hover{
    background-image: url('https://cdn.latestk.com/kinepsAdmin/scrap_hover.svg');
    cursor: pointer;
}
.creditDiv{
    width: 40px;
    height: 40px;
    background-image: url('https://cdn.latestk.com/kinepsAdmin/credit_gray.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px 5px 0 5px;
}
.creditDiv:hover{
    background-image: url('https://cdn.latestk.com/kinepsAdmin/credit_hover.svg');
    cursor: pointer;
}


.searchBar{
    display: flex;
    margin-left: auto;
}
.searchInput{
    height: 40px;
    margin-left: 5px;
}