
.root{
    min-width: 1024px;
}
.line1{
    display: flex;
}
.line1_left{
    padding: 10px;
}
.line1_box{
    width: 30%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px !important;
    padding: 20px;
    display: flex;
    min-width: 328px;
}

.line2{
    display: flex;
    margin-top: 2.5vw;
}
.line2_box1{
    width: 65.5%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px !important;
    padding: 20px;
}
.line2_box2{
    width: 28%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px !important;
    padding: 20px;
}

.line3{
    display: flex;
    margin-top: 2.5vw;
}
.line3_box1{
    width: 28%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px !important;
    padding: 20px;
}
.line3_box2{
    width: 65.5%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px !important;
    padding: 20px;
}
.title{
    color: #575757;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 10px;
}
.count{
    color: #1C1D22;
    font-size: 23px;
    font-weight: 800;
}

.activeMenu{
    background-color: black !important; 
}

.line2_title{
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    display: flex;
    color: rgba(87, 87, 87, 1);
    font-size: 17px;
}